version: "{build}"
clone_folder: C:\gopath\src\github.com\smola\ci-tricks
environment:
  GOPATH: C:\gopath
  matrix:
    - POSTGRESQL_VERSION: 9.5
    - POSTGRESQL_VERSION: 9.6
    - POSTGRESQL_VERSION: 10
    - RABBITMQ_VERSION: any
image: Visual Studio 2017
platform:
  - x64
matrix:
  fast_finish: true
build: off
test_script:
  - set PATH=%GOPATH%\bin;C:\go\bin;%PATH%
  - go test -v -coverprofile=profile.out -covermode=atomic ./...
after_test:
  - ps: |
      $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "profile.out" -t $env:CODECOV_TOKEN -cF windows
deploy: off
