language: go
go: 1.11.x
env:
  global:
    - CGO_ENABLED: 0
matrix:
  fast_finish: true
install:
  - echo pass
script:
  - go test -v -coverprofile=profile.out -covermode=atomic ./...
after_success:
  - CODECOV_TAGS=$TRAVIS_OS_NAME
  - if [[ $TRAVIS_OS_NAME = osx ]]; then CODECOV_TAGS=$CODECOV_TAGS,${TRAVIS_OSX_IMAGE/./} ; fi
  - if [[ ! -z $POSTGRESQL_VERSION ]]; then CODECOV_TAGS=$CODECOV_TAGS,postgresql${POSTGRESQL_VERSION/./} ; fi
  - if [[ ! -z $RABBITMQ_VERSION ]]; then CODECOV_TAGS=$CODECOV_TAGS,rabbitmq${RABBITMQ_VERSION/./} ; fi
  - bash <(curl -s https://codecov.io/bash) -f "profile.out" -cF $CODECOV_TAGS
jobs:
  include:
    - {os: linux, dist: trusty, sudo: required, env: 'POSTGRESQL_VERSION=9.2'}
    - {os: linux, dist: trusty, sudo: required, env: 'POSTGRESQL_VERSION=9.3'}
    - {os: linux, dist: trusty, sudo: required, env: 'POSTGRESQL_VERSION=9.4'}
    - {os: linux, dist: trusty, sudo: required, env: 'POSTGRESQL_VERSION=9.5'}
    - {os: linux, dist: trusty, sudo: required, env: 'POSTGRESQL_VERSION=9.6'}
    - {os: linux, dist: trusty, sudo: required, env: 'RABBITMQ_VERSION=any'}
    - {os: linux, dist: xenial, sudo: required, env: 'POSTGRESQL_VERSION=9.6'}
    - {os: linux, dist: xenial, sudo: required, env: 'RABBITMQ_VERSION=any'}
    - {os: osx, osx_image: xcode8.3,            env: 'POSTGRESQL_VERSION=9.4'}
    - {os: osx, osx_image: xcode8.3,            env: 'POSTGRESQL_VERSION=10'}
    - {os: osx, osx_image: xcode8.3,            env: 'RABBITMQ_VERSION=any'}
    - {os: osx, osx_image: xcode9.4,            env: 'POSTGRESQL_VERSION=9.4'}
    - {os: osx, osx_image: xcode9.4,            env: 'POSTGRESQL_VERSION=10'}
    - {os: osx, osx_image: xcode9.4,            env: 'RABBITMQ_VERSION=any'}
    - {os: osx, osx_image: xcode10.1,           env: 'POSTGRESQL_VERSION=9.4'}
    - {os: osx, osx_image: xcode10.1,           env: 'POSTGRESQL_VERSION=10'}
    - {os: osx, osx_image: xcode10.1,           env: 'RABBITMQ_VERSION=any'}
    - stage: deploy
      os: linux
      sudo: false
      dist: trusty
      if: tag IS present
      script:
        - go get github.com/mitchellh/gox
        - gox -osarch="linux/amd64 darwin/amd64 windows/amd64" -ldflags="-s -w"
      deploy:
        provider: releases
        api_key: $GITHUB_TOKEN
        skip_cleanup: true
        file_glob: true
        file: ci-tricks_*
        on:
          tags: true
